* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #18181B;
}

/* Nav*/

nav {
    width: 100%;
}

.scrolled {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    backdrop-filter: blur(10px);
    top: 0;
    z-index: 10;
}

nav .container {
    max-width: 1200px;
    margin: auto;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

nav img {
    max-width: 100px;
    min-width: 100px;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 100px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
}

nav svg {
    fill: #fff;
}

nav li:first-child {
    margin-right: auto;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 600;
}

.scrolled .sidebar {
    background-color: rbga(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 999;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
    height: 50px;
    margin: 20px;
}

.sidebar a:first-child {
    justify-content: flex-end;
}



.sidebar a {
    width: 100%;
    font-size: 40px;
    text-align: center;
}

.menu-button {
    display: none;
}


@media(max-width: 950px){
    nav img {
        max-width: 50px;
        min-width: 50px;
    }
    
    nav li:first-child {
        margin-right: auto;
        font-size: 25px;
        font-family: sans-serif;
        font-weight: 600;
    }
    .hideOnMobile {
        display: none;
    }
    .sidebar {
        width: 100%;
    }
    .menu-button {
        display: block;
    }
}


/* section 1 */

.sec1 {
    width: 100%;
}

.sec1 .container {
    max-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 5rem 2rem;
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.sec1 .content {
    padding: 1rem 2rem;
}

.sec1 .content .blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d4ed8;
}

.sec1 .content h4 {
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

.sec1 .content h1 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

.sec1 .content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

.sec1 .content p {
    margin-bottom: 2rem;
    color: #ccc;
}

.sec1 .image {
    position: relative;
}

.sec1 .image::before {
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #1d4ed8;
    opacity: 0.2;
    z-index: -100;
}

.sec1 .image img {
    max-width: 600px;
    margin: auto;
}
/* section 2 */

.sec2 {
    height: 100vh;
    width: 100%;
}

/* section 3 */

.sec3 {
    height: 100vh;
    width: 100%;
}


/* media reponsive */

@media (width < 1100px) {
   
    .sec1 .container {
        grid-template-columns: repeat(1,1fr);
    }

    .sec1 .container .image {
        grid-area: 1/1/2/2;
    }

    .sec1 .image::before {
        display: none;
    }
}

